.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30em;
  height: 30rem;
  background-color: beige;
}
.parent {
  display: grid;
  align-items: center;
  row-gap: 2rem;
  margin: 10rem 10rem;
}
.text-input {
  width: 30rem;
  height: 4rem;
  border-radius: 3px;
  border: 1px solid black;
}
